<p class="govuk-body-m">0 results</p>
<h2 class="govuk-heading-s">Try again using a different job title.</h2>
<p class="govuk-body">You could try:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>double checking your spelling</li>
  <li>using fewer words</li>
  <li>searching for something less specific</li>
</ul>
