<h3 class="govuk-heading-xl">No results found</h3>
<%= render "shared/search/results_form", search_path: results_check_your_skills_path, scope: 'check_your_skills.results' %>
<p class="govuk-body">You could try:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>checking your spelling</li>
  <li>using a different name for the job you do</li>
  <li>searching for a different role you’ve done</li>
</ul>
