<h3 class="govuk-heading-xl">No results found</h3>
<p class="govuk-body">We couldn’t find any results for this job title. Is there any other name for the job you do?</p>
<p class="govuk-body"><%= link_to 'Search again', check_your_skills_path %></p>
