<ul class="govuk-list">
  <% job_profiles.each do |job_profile| %>
    <li class="govuk-!-padding-bottom-2 govuk-!-padding-top-4">
      <h3 class="govuk-!-margin-0">
        <%= link_to job_profile.name, link_to_job_skills ? skills_job_profile_path(job_profile.slug) : job_profile_path(job_profile.slug), class: 'govuk-link no-text-decoration' %>
      </h3>
      <p class="govuk-!-margin-0"><%= job_profile.description %></p>
    </li>
  <% end %>
</ul>
