<h2 class="app-task-list__section">
  <span class="app-task-list__section-number">1. </span> Check what you are good at
</h2>
<ul class="app-task-list__items">
  <li class="app-task-list__item">
    <div class="app-task-list__task-name">
      <%= link_to check_your_skills_path, class: 'govuk-link' do %>
        Check your existing skills <span class="app-step-nav__context">5 minutes</span>
      <% end %>
      <p class="govuk-body govuk-!-margin-bottom-0">You'll be surprised at what you already know.</p>
    </div>
  </li>
</ul>
