<li>
  <h2 class="app-task-list__section">
    <span class="app-task-list__section-number">3. </span> Find training that's right for you
  </h2>
  <ul class="app-task-list__items">
    <li class="app-task-list__item">
      <div class="app-task-list__task-name">
        <%= link_or_blocked training_hub_path, user_session.page_visited?('training_hub') || user_session.page_visited?('next_steps'), 3 do %>
          Find a training course <span class="app-step-nav__context">10 to 20 minutes</span>
        <% end %>
        <p class="govuk-body govuk-!-margin-bottom-0">Training can help you access a broader range of jobs and stay in secure work.</p>
      </div>
    </li>
  </ul>
</li>
