<li>
  <h2 class="app-task-list__section">
    <span class="app-task-list__section-number">4. </span> Further help to find work
  </h2>
  <ul class="app-task-list__items">
    <li class="app-task-list__item">
      <div class="app-task-list__task-name">
        <%= link_or_blocked next_steps_path, user_session.page_visited?('training_hub') || user_session.page_visited?('next_steps'), 4 do %>
          Find other ways to change jobs
        <% end %>
        <p class="govuk-body govuk-!-margin-bottom-0">Connecting you to further advice, ideas and help.</p>
      </div>
    </li>
  </ul>
</li>
