.action-plan-section {
  border-top: 7px solid govuk-colour("blue");
}

.action-plan-action {
  @include govuk-media-query($from: desktop) {
    float: right;
  }

  &.govuk-button {
    display: block;
    width: 100%;
  }
}
