.govuk-accordion__controls {
  display: none;
}

.govuk-error-message-placeholder {
  @include govuk-media-query($from: tablet) {
    display: block;
    margin-bottom: 40px;
  }
}

.govuk-tabs__tab-mobile {
  @include govuk-media-query($until: tablet) {
    margin-top: govuk-spacing(2);
  }
}

.govuk-width-one-half-mobile {
  @include govuk-media-query($until: tablet) {
    width: 0 !important;
  }
}

.description-wrap {
  word-wrap: break-word;
}
