<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><%= heading %></h3>
  </div>
  <div class="govuk-grid-column-one-half govuk-!-margin-bottom-1">
    <%= link_to 'Edit your training choices', edit_training_questions_path, class: 'govuk-link action-plan-action' %>
  </div>
</div>
