<p class="govuk-body govuk-!-margin-top-3">You can find other types of training by searching on Find a course, run by the National Careers Service. This button will take you to another government service.</p>

<div class="govuk-grid-row govuk-!-margin-bottom-0">
  <div class="govuk-grid-column-one-half">
    <h3 class="govuk-heading-s">Other courses</h3>
  </div>
  <div class="govuk-grid-column-one-half">
    <%= link_to 'Find other courses', 'https://nationalcareers.service.gov.uk/find-a-course', class: 'govuk-button govuk-button--secondary action-plan-action govuk-!-margin-bottom-2', data: { module: 'govuk-button' } %>
  </div>
</div>
