<%= render partial: 'pages/training/edit_training_choices', locals: { heading: 'Find training' } %>

<p class="govuk-body">You chose not to get help with your maths, English, or computer skills. If you change your mind, you can edit your training choices.</p>
<p class="govuk-body govuk-!-margin-top-3">You can find other types of training by searching on Find a course, run by the National Careers Service. This button will take you to another government service.</p>
<%= render 'pages/training/find_other_courses' %>
