<%= render partial: 'pages/training/edit_training_choices', locals: { heading: 'Find training' } %>

<p class="govuk-body">You chose not to get help with your maths, English, or computer skills. If you change your mind, you can edit your training choices.</p>
<%= render 'pages/training/find_other_courses' %>
