<h1 class="govuk-heading-xl govuk-!-margin-bottom-7"><%= t(:title, scope: scope) %></h1>
<p class="govuk-body-l"><%= t(:body, scope: scope) %></p>
<%= render "shared/search/results_form", search_path: results_check_your_skills_path, scope: 'check_your_skills.results' %>
<p class="govuk-body">Select the job title that best matches what you do now. If you can't see your job title, try using a different name for this job title - for example, checkout operator instead of cashier.</p>
