<h1 class="govuk-heading-xl govuk-!-margin-bottom-7"><%= t(:title, scope: scope) %></h1>
<%= render "shared/search/results_form", search_path: results_check_your_skills_path, scope: 'check_your_skills.results' %>
<p class="govuk-body-l govuk-!-margin-bottom-2"><%= t(:body, scope: scope) %></p>
