<% page_title :link_expired %>
<% content_for :breadcrumb do
    generate_breadcrumbs(
      t('breadcrumb.link_expired'),
      [
        [t('breadcrumb.task_list_home'), task_list_path]
      ]
    )
  end
%>

<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">We can’t show your saved progress</h1>
    <p class="govuk-body">For some reason, we can’t show you your saved progress.</p>
    <p class="govuk-body">You could try to <%= link_to 'send yourself the link again', return_to_saved_results_path, class: 'govuk-link' %>. Remember the link expires after one hour.</p>
    <p class="govuk-body">If that doesn't work, you may need to enter your information again.</p>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render "shared/contact_us" %>
  </div>
</div>

