<% page_title :link_sent %>
<% content_for :breadcrumb do
    generate_breadcrumbs(
      t('breadcrumb.link_sent'),
      [
        [t('breadcrumb.home'), root_path]
      ]
    )
  end
%>
<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('.title') %></h1>
    <p class="govuk-body">We've sent an email to</p>
    <h3 class="govuk-heading-m"><%= params[:email] %></h3>
    <p class="govuk-body">This email contains a link that will take you back to your saved information.</p>
    <p class="govuk-body">The link expires after one hour.</p>
    <p class="govuk-body">If you haven't received this email you can <%= link_to 'send it again', link_sent_again_path(email: params[:email]), method: :post, class: 'govuk-link' %>.</p>
    <p class="govuk-body">You'll only be able to return to your results if you have previously saved results in this service. If you haven't previously done this, you won't receive an email.</p>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render "shared/contact_us" %>
  </div>
</div>
