<div class="govuk-grid-column-one-third">
  <div class="govuk-related-items govuk-!-padding-bottom-1 top-border__container">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><%= t('boost_job_prospects.title') %></h2>
    <p class="govuk-body-m govuk-!-margin-bottom-2"><%= t('boost_job_prospects.sub_title') %></p>
    <p class="govuk-body">
      <%= link_to t('boost_job_prospects.cta_copy'), training_hub_path, class: 'govuk-button govuk-button-full govuk-!-margin-bottom-1 govuk-!-margin-top-3' %>
    </p>
  </div>
</div>
