<div class="govuk-grid-column-one-third">
  <div class="govuk-related-items govuk-!-padding-bottom-4 top-border__container">
    <h2 class="govuk-heading-m"><%= t('help_improve_this_service.title') %></h2>
    <p class="govuk-body-m">
      <%= link_to t('help_improve_this_service.body'), 'https://www.smartsurvey.co.uk/s/get-help-to-retrain/' , class: 'govuk-link', target: '_blank', data: { tracked_event: 'Courses - Help improve this service survey link', tracked_event_props: { url: 'https://www.smartsurvey.co.uk/s/get-help-to-retrain/' } } %>
    </p>
  </div>
</div>
