<div class="govuk-related-items govuk-!-padding-bottom-4 top-border__container">
  <h2 class="govuk-heading-m"><%= t('help_improve_this_service.title') %></h2>
  <p class="govuk-body-m">
    <%= link_to(t('help_improve_this_service.body'), 'https://forms.office.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-QkD7_YqknBBowIXCwHR9UlUMDdIMUE3S0JUSFM0QU1ITUhTTzdXWFE1Mi4u' , class: 'govuk-link') %>
  </p>
</div>
