<% return unless user_not_authenticated? %>
<div class="govuk-related-items govuk-!-padding-bottom-4 top-border__container" id="sign-in">
  <h2 class="govuk-heading-m"><%= t('return_to_saved_results.title') %></h2>
  <p class="govuk-body"><%= t('return_to_saved_results.sub_title') %></p>
  <%= link_to(t('return_to_saved_results.title'), return_to_saved_results_path, class: 'govuk-button govuk-button--secondary govuk-!-width-full govuk-!-margin-bottom-2') %>
</div>
