<% return unless user_not_authenticated? %>
<div class="govuk-grid-column-one-third">
  <div class="govuk-related-items govuk-!-padding-bottom-4 top-border__container">
    <h2 class="govuk-heading-m"><%= t('return_to_saved_results.title') %></h2>
    <p class="govuk-body"><%= t('return_to_saved_results.sub_title') %></p>
  </div>
</div>
