<% content_for :breadcrumb do
    generate_breadcrumbs(
      t('breadcrumb.task_list'),
      [
        [t('breadcrumb.home'), root_path]
      ]
    )
  end
%>

<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('.title') %></h1>
    <p class="govuk-!-margin-bottom-9 govuk-body-m">
      Check what you need to do to retrain for another job. How long it takes you to complete the following steps will depend on your situation.
    </p>
    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> Check what you are good at
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <a class="app-task-list__task-name govuk-link" href="<%= check_your_skills_path %>">
              Check your existing skills <span class="app-step-nav__context">5 minutes</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span> Explore the types of jobs you could do
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <a class="app-task-list__task-name govuk-link" href="<%= explore_occupations_path %>">
              Search for the types of jobs you could retrain to do <span class="app-step-nav__context">5 to 20 minutes</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span> Apply for a training course
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <a class="app-task-list__task-name govuk-link" href="#">
              Find and apply to training courses near you <span class="app-step-nav__context">10 to 20 minutes</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">4. </span> Find out what you can do next
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <a class="app-task-list__task-name govuk-link" href="#">
              Find out what you can do next
            </a>
          </li>
        </ul>
      </li>
    </ol>
  </div>
</div>
