<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"/>

<h2 class="govuk-heading-l">Get more advice on finding work</h2>
<p class="govuk-body">For more advice on how to look for and apply for jobs, visit the National Careers Service. Selecting this option will take you to another government service.</p>
<%= link_to 'Go to National Careers Service', 'https://nationalcareers.service.gov.uk/get-a-job', class: 'govuk-link' %>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"/>

<div class="govuk-!-margin-bottom-2">
  <%= link_to '#', class: 'govuk-link govuk-link--no-visited-state govuk-body-s' do %>
    <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
  <% end %>
</div>
