<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Get job hunting advice</h3>
  </div>
  <div class="govuk-grid-column-one-half govuk-!-margin-bottom-1">
    <%= link_to 'Edit your advice choices', job_hunting_questions_path, class: 'govuk-link action-plan-action' %>
  </div>
</div>
<% if user_session.job_hunting.present? %>
  <p class="govuk-body">You chose to improve your job hunting skills. Getting this kind of advice can improve your chances of finding work.</p>
  <p class="govuk-body">Selecting one of these options will take you to another government service.</p>

  <% if user_session.job_hunting.include?('cv') %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Your CV</h3>
      </div>
      <div class="govuk-grid-column-one-half">
        <%= link_to 'Get CV advice', cv_advice_path, class: 'govuk-button govuk-button--secondary action-plan-action', data: { module: 'govuk-button' } %>
      </div>
    </div>
  <% end %>

  <% if user_session.job_hunting.include?('cover_letter') %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Your cover letter</h3>
      </div>
      <div class="govuk-grid-column-one-half">
        <%= link_to 'Get cover letter advice', cover_letter_advice_path, class: 'govuk-button govuk-button--secondary action-plan-action', data: { module: 'govuk-button' } %>
      </div>
    </div>
  <% end %>

  <% if user_session.job_hunting.include?('interviews') %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Your interview skills</h3>
      </div>
      <div class="govuk-grid-column-one-half">
        <%= link_to 'Get interview advice', 'https://nationalcareers.service.gov.uk/get-a-job/interview-advice', class: 'govuk-button govuk-button--secondary govuk-!-margin-bottom-2 action-plan-action', data: { module: 'govuk-button' } %>
      </div>
    </div>
  <% end %>
<% else %>
  <p class="govuk-body">You did not choose to get advice on your CV, cover letter or interview skills. If you change your mind you can edit the advice you need.</p>
<% end %>
