<% page_title :pages_find_training_courses %>
<% content_for :breadcrumb do
    generate_breadcrumbs(
      t('breadcrumb.find_training_courses'),
      [
        [t('breadcrumb.task_list_home'), task_list_path]
      ]
    )
  end
%>

<div class="govuk-grid-row govuk-!-margin-top-7 govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('.title') %></h1>
    <p class="govuk-body-l">Call the Get help to retrain helpline to speak with an adviser and get free guidance. They'll be able to recommend training courses near you.</p>
    <h2 class="govuk-heading-m">Why you need to retrain</h2>
    <p>Even if you’re already employed, some training – for example, a free short course in maths or English – will improve your chances of accessing a broader range of jobs.</p>
    <p class="govuk-inset-text">You’ll get personalised advice and support along the way, so you can find training that fits around your schedule and your personal needs – for example, with childcare or IT skills, or if you have not studied in a while and feel unsure about what you should do.</p>
    <p class="govuk-heading-m govuk-!-margin-bottom-2">Get help to retrain helpline</p>
    <p class="govuk-body-m govuk-!-margin-bottom-0">Telephone: <%= link_to t('contact_us.telephone'), t('contact_us.telephone_link'), class: 'govuk-!-padding-left-1 govuk-link no-text-decoration' %></p>
    <p class="govuk-body-m govuk-!-margin-bottom-0">Monday to Friday, 10am to 4pm</p>
    <%= link_to "Find out about call charges", 'https://www.gov.uk/call-charges', class: 'govuk-link govuk-body-s', target: '_blank' %>
  </div>
</div>
