<div class="feedback-prompt-questions hidden">
  <iframe id="ss-embed-frame" onload="window.parent.parent.scrollTo(0,0)" src="http://www.smartsurvey.co.uk/s/8IBQ1/" style="width:100%;height:296px;border:0px;padding-bottom:4px;" frameborder="0"></iframe>
</div>

<div class="feedback-prompt feedback-footer" >
  <div class="feedback-prompt-full-question">
    <h2 class="feedback-prompt-question">Is this page useful?</h2>
    <%= link_to '#', {
      class: 'feedback-prompt-link govuk-link answer-yes',
      data: {
        tracked_event: 'Is this page useful in-page survey - Clicked Yes'
      },
    } do %>
      Yes
    <% end %>

    <%= link_to '#', {
      class: 'feedback-prompt-link govuk-link answer-no',
    } do %>
      No
    <% end %>
  </div>

  <div class="feedback-prompt-success hidden">
    Thank you for your feedback
  </div>
</div>
