<li class="pagination__item  pagination__item--next">
  <%= link_to_unless current_page.last?, t('pagination.next').html_safe, url, rel: 'next', remote: remote, class: 'pagination__link', aria: { label: 'Next page' } %>
</li>
