<ul class="govuk-list">
  <%= render @job_profiles %>
</ul>
<div class="govuk-grid-column-full govuk-!-padding-top-6 govuk-!-margin-bottom-4 govuk-!-margin-top-6 pagination__section">
  <%= paginate @results %>
</div>
