<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-2" >Admin assistant</h1>
  <p class="govuk-body-l" style="color: #6f777b">Office administrator, clerical assistant, administrative assistant</p>
  <p class="govuk-body-l">Admins assistants give support to offices by organising meetings, typing documents and updating computer records.</p>
</div>