<h1 class="govuk-heading-xl govuk-!-margin-bottom-2" ><%= @job_profile.name %></h1>
<% if @job_profile.alternative_titles.present? %>
  <p class="govuk-body-l muted-text"><%= @job_profile.alternative_titles %></p>
<% end %>
<% @job_profile.additional_hero_copy.each do |paragraph| %>
  <p class="govuk-body-l"><%= paragraph %></p>
<% end %>
