<% return unless @job_vacancy_count.present? %>
<h2 class="govuk-heading-m">Jobs in your area</h2>
<% if @job_vacancy_count > 0 %>
  <p class="govuk-body">At least <b><%= pluralize(@job_vacancy_count, 'vacancy', locale: I18n.locale.to_s) %></b> in this type of work <%= t('job_profiles.vacancies', count: @job_vacancy_count) %> being advertised near you. Get ready to start applying by preparing your CV and cover letter and exploring any training you’ll need.</p>
<% else %>
  <p class="govuk-body">At present, there are no vacancies like this one being advertised near you on the Find a Job service. You may be able to find other jobs like this advertised on other job sites.</p>
<% end %>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
