<h1 class="govuk-heading-xl"><%= t('title', scope: scope) %></h1>
<p class="govuk-body-l"><%= t('body', scope: scope) %></p>
<%= render "shared/search/results_form", search_path: { action: :results }, scope: scope %>
<p class="govuk-body">0 results found</p>
<p class="govuk-body">We can't find any results for this job title.</p>
<p class="govuk-body">You could try:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>checking your spelling</li>
  <li>using a different name for this type of work</li>
  <li>searching for a different type of work</li>
  <li>going back and looking at your job matches instead</li>
</ul>
