<h1 class="govuk-heading-xl govuk-!-margin-bottom-7"><%= t(:title, scope: 'job_profiles.results') %></h1>
<%= render "shared/search/results_form", search_path: results_job_profiles_path, scope: 'job_profiles.results' %>
<p class="govuk-body-l govuk-!-margin-bottom-2"><%= t(:body, scope: 'job_profiles.results') %></p>
