<p class="govuk-body"><%= t(:body, scope: 'job_profiles.index') %></p>
<%= render "shared/search/results_form", search_path: results_job_profiles_path, scope: 'job_profiles.index' %>
<p class="govuk-body">
  <%= "#{pluralize(@results.total_count, 'result', locale: I18n.locale.to_s)} found" %>
</p>
<p class="govuk-body">If you can’t see the job title you want, try searching with different words. For example, search for checkout operator instead of cashier.</p>
<p class="govuk-body">Select a job title to build an action plan that will help you change jobs.</p>
