<h1 class="govuk-heading-xl"><%= t(:title, scope: 'job_profiles.index') %></h1>
<p class="govuk-body-l"><%= t(:body, scope: 'job_profiles.index') %></p>
<%= render "shared/search/results_form", search_path: results_job_profiles_path, scope: 'job_profiles.index' %>
<p class="govuk-body">Select the job title that best matches what you're looking for.</p>
<p class="govuk-body">If you can't see the job title you're looking for, try searching with different words - for example, checkout operator instead of cashier.</p>
<p class="govuk-body">
  <%= "#{pluralize(@results.total_count, 'result', locale: I18n.locale.to_s)} found" %>
</p>
