<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Skills and knowledge</h2>
    <p class="govuk-body-m">You'll need:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>administration skills</li>
      <li>to be thorough and pay attention to detail</li>
      <li>the ability to work well with others</li>
      <li>the ability to work on your own</li>
      <li>sensitivity and understanding</li>
      <li>to be flexible and open to change</li>
      <li>excellent verbal communication skills</li>
      <li>customer service skills</li>
      <li>to be able to use a computer and the main software packages competently</li>
    </ul>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">