<h2 class="govuk-heading-m">Skills and knowledge</h2>
<p class="govuk-body-m">Employers may ask for these skills for this type of work.</p>
<% if @existing_skills.any? %>
  <h3 class="govuk-heading-s">Skills you have</h3>
  <ul class="govuk-list govuk-list--bullet">
    <% @existing_skills.each do |skill_name| %>
      <li><%= skill_name %></li>
    <% end %>
  </ul>
<% end %>
<% if @skills_to_develop.any? %>
  <h3 class="govuk-heading-s">Skills you may need to develop</h3>
  <ul class="govuk-list govuk-list--bullet">
    <% @skills_to_develop.each do |skill_name| %>
      <li><%= skill_name %></li>
    <% end %>
  </ul>
<% end %>
<p class="govuk-body-m">
  You may not need all of these skills to apply for this type of work - you could develop some of them while you are in the job or you could take a course. If you need help with your maths and English skills, this service can help with this when you create your action plan.
</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
