<% page_title :user_personal_data %>

<% content_for :breadcrumb do
    generate_breadcrumbs(
      t('breadcrumb.user_personal_data'),
      [
        [t('breadcrumb.home'), root_path]
      ]
    )
  end
%>

<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('user_personal_data.title') %></h1>
    <p class="govuk-body">We use this information to improve our service and make sure it's effective.</p>
    <p class="govuk-body">We will share this information with other government departments.</p>
    <p class="govuk-body">You don’t need to give us this information in order to use this service.</p>
    <%= render 'form' %>
  </div>
  <%= render 'shared/contact_us' %>
  <%= render 'shared/return_to_saved_results' %>
</div>
