<% page_title :user_personal_data %>

<% content_for :breadcrumb do
    generate_breadcrumbs(
      t('breadcrumb.user_personal_data'),
      [
        [t('breadcrumb.home'), root_path]
      ]
    )
  end
%>

<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('user_personal_data.title') %></h1>
    <p class="govuk-body">We use this information to improve our service and make sure it's effective.</p>
    <p class="govuk-body">We will share this information with other government departments.</p>
    <p class="govuk-body">Your age and gender won’t affect the job suggestions we give you.</p>
    <%= render 'form' %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render 'shared/contact_us' %>
    <%= render 'shared/save_or_return_to_your_results' %>
  </div>
</div>
